<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


<application
android:icon="@drawable/jai_logo"
   ../home/blackjinn/Downloads/IMG_0915.jpeg >

<meta-data
android:name="com.google.android.gms.maps.API_KEY"
android:value="YOUR_API_KEY" />

<activity
android:name=".SplashActivity"
android:exported="true">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
<activity android:name=".MainActivity" android:exported="false" />

